<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: aqua;
            color: black;
        }
        input
        {
            background-color: red;
            color:black;
        }
        h1:hover
        {
            background-color: yellow;
            color: black;
            border-radius: 30px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Dealing with Html forms in Flask</h1>
        <form method="POST">
            <label for="na">UserName</label>
            <input type="text" name="na" id="na"><br><br>

            <input type="submit" value="Submit">
        </form>
    </center>
    
</body>
</html>